.pet-details{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    height: 50vh;
    width: 50vh;
    margin: auto;
    overflow: auto;
    padding: 100px 40px 40px 40px;
    background: #EBE6E6;
    border: #666666;

}

.pet-details button {
    background-color: indianred;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pet-details button:hover {
    background-color: darkred;
}