.pet-details{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    height: 40vh;
    width: 40vh;
    margin: auto;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    background: #EBE6E6;
    border: #666666;
    font-family: 'Lobster', serif;
    font-size: 20px;


}
.container {
    text-align: center;
}

.container button {
    display: inline-block;
}

.buttonDelete {
    background-color: indianred;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonDelete:hover {
    background-color: darkred;
}

.buttonEdit {
    background-color: #57BD96;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonEdit:hover {
    background-color: darkgreen;
}


