.pet-details{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 42vh;
    width: 42vh;
    margin: auto;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    background: #EBE6E6;
    border: #666666;
    font-family: 'Lobster', serif;
    font-size: 20px;

}
.pet-details img{
    width: 80%;
    height: 80%;
}
.container {
    text-align: center;
}

.container button {
    display: inline-block;
    font-size: 18px;
}

.buttonDelete {
    background-color: indianred;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonDelete:hover {
    background-color: darkred;
}

.buttonEdit {
    background-color: #57BD96;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonEdit:hover {
    background-color: darkgreen;
}

.buttonBack {
    background-color: dodgerblue;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonBack:hover {
    background-color: #0567B0;
}


