.form-submit{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 10px;
    height: 70vh;
    width: 42vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.submit-supply {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 10px;
    margin: auto;
    height: 200px;
    width: 260px;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    min-height: 200px;
    background-color: lightgoldenrodyellow;
    border: 2px solid darksalmon;
}

.submit-supply input[type="text"] {
    width: 200px;
    height: 50px;
    font-size: medium;
    padding: 10px 10px 10px 10px;
}

.submit-supply input[type="checkbox"] {
    font-size: large;
    cursor: pointer;
}

.submit-supply button[type="button"] {
    background-color: #dc3545;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-supply button[type="button"]:hover {
    background-color: #c82333;
}

button {
    background-color: #57BD96;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}