.form-submit submit-supply {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: auto;
    height: 15vh;
    width: 40vh;
    overflow: auto;
}

.submit-supply input[type="text"] {
    width: 90%;
    height: 50px;
    font-size: medium;
    padding: 10px 10px 10px 10px;
}

.submit-supply input[type="checkbox"] {
    margin-left: 1rem;
    cursor: pointer;
}

.submit-supply button[type="button"] {
    margin-left: 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.submit-supply button[type="button"]:hover {
    background-color: #c82333;
}

button {
    background-color: #57BD96;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}