.form-submit{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
    width: 43vh;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.form-submit .containerForButtons{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1px;

}
.form-submit button{
    width: 200px;
    height: 50px;
    background-color: #57BD96;
    color: white;
    border: none;
    margin: 2pX;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-submit button:hover {
    background-color: darkgreen;
    color: white;
}

.submit-supply {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 10px;
    margin: auto;
    height: 200px;
    width: 260px;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    min-height: 200px;
    background-color: lightgoldenrodyellow;
    border: 2px solid darksalmon;
}

.submit-supply input[type="text"] {
    width: 200px;
    height: 50px;
    font-size: medium;
    padding: 10px 10px 10px 10px;
}

.submit-supply input[type="checkbox"] {
    font-size: 50px;
    cursor: pointer;
}

.submit-supply button[type="button"] {
    background-color: #dc3545;
    width: 200px;
    height: 45px;
    color: white;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-supply button[type="button"]:hover {
    background-color: #c82333;
}


