.footer {
    text-align: center;
    height: 30px;
    min-width: 414px;
    background-color: #57BD96;
    font-family: 'Lobster', serif;
    font-size: 18px;
    color: #333;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin:auto;
}
