.footer {
    position: fixed;
    text-align: center;
    height: 30px;
    width: 100%;
    background-color: #57BD96;
    font-family: 'Lobster', serif;
    font-size: 18px;
    color: #333;
    padding: 10px 10px 10px 10px;
    margin:auto;
}
