.layout-sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.layout-sign-form h1 {
    text-align: center;
}