.pet-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #57BD96;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 5px;
    background: #EBE6E6;
    min-height: 40vh;
    min-width: 50vh;

}
