.form-submit {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    height: 70vh;
    width: 45vh;
    margin: auto;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    background: #EBE6E6;
    border: #666666;
}

.form-submit:hover {
    opacity: 80%;
}

.form-submit h2 {
    font-family: 'Lobster', serif;
    font-size: 50px;
    font-weight: bold;
}

.form-submit input {
    width: 90%;
    height: 25px;
    font-size: medium;
    padding: 10px 10px 10px 10px;

}
.form-submit select {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    background-color: white;
    color: #333;
    width: 97%;
    margin: 10px 0;
}

select option {
    padding: 10px;
}

.form-submit img{
    max-width: 80%;
    max-height: 90%;
}
