.form-submit {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    width: 45vh;
    height: 100vh;
    max-height: max-content;
    margin: auto;
    padding: 10px;
    background: #EBE6E6;
    border: #666666;
}

.form-submit:hover {
    opacity: 0.8;
}

.form-submit h2 {
    font-family: 'Lobster', serif;
    font-size: 50px;
    font-weight: bold;
}

.form-submit input {
    width: 97%;
    height: 43px;
    font-size: large;
    padding: 10px;

}
.form-submit select {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    background-color: white;
    color: #333;
    width: 97%;
    margin: 10px 0;
}

select option {
    padding: 10px;
}

.form-submit img{
    max-width: 80%;
    max-height: 90%;
}
