.form-submit {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    height: 50vh;
    width: 40vh;
    margin: auto;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    background: #EBE6E6;
    border: #666666;

}

.form-submit:hover {
    opacity: 80%;
}

.form-submit h2 {
    font-family: 'Lobster', serif;
    font-size: 50px;
    font-weight: bold;
}

.form-submit button {
    width: 95%;
    padding: 10px 10px 10px 10px;
    margin: 1px 0;
    border: #57BD96;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    transition-duration: 0.4s;

}

.form-submit button:hover {

    background-color: #57BD96;
    color: white;
}

.form-submit input {
    width: 90%;
    height: 25px;
    font-size: medium;
    padding: 10px 10px 10px 10px;

}
.form-submit select {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    background-color: white;
    color: #333;
    width: 97%;
    margin: 10px 0;
}

select option {
    padding: 10px;
}

.form-submit img{
    width: 80%;
    height: 90%;
}

.form-submit h6 {
    color: #EBE6E6;
}

.form-submit h6:hover {
    color: black;
}

